/* formatting help */
.flex {
  display: flex;
}
.block {
  display: block;
}
.vertical {
  writing-mode: tb-rl;
}

/* background image */
.background {
  background-image: url('/corona.jpg');
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -1;
}

/* fancy title */
.header {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 50px;
  margin: auto;
}
.header-bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 20px solid white;
  animation: red-blink 2s forwards infinite ease-in-out;
  margin: 20px;
  border-radius: 15px;
}
.icon {
  height: 100px;
  margin: 10px;
  background-color: black;
  border-radius: 15px;
}

/* fancy paragraphs */
.options {
  background-color: rgba(50, 50, 50, 0.8);
  font-family: Helvetica, sans-serif;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid white;
  animation: red-blink 2s 1s forwards infinite ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.options:hover {
  background-color: rgba(50, 0, 0, 0.8);
}
.options-bg {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.336), transparent, transparent, transparent, transparent);
  margin: 20px;
  margin-left: 30px;
  border-radius: 5px;
  border-left: 10px solid white;
  animation: red-blink 2s forwards infinite ease-in-out;
  padding: 5px;
  padding-left: 12px;
  padding-right: 10px;
}

/* an animation that makes the border colors alternate between red and white */
@keyframes red-blink {
  0% {
    border-color: white;
  }
  50% {
    border-color: rgb(255, 179, 179);
  }
  100% {
    border-color: white;
  }
}

/* a menu that reveals itself on hover */
.sidebar {
  position: fixed;
  left: -300px;
  top: 0px;
  bottom: 0px;
  margin-right: 0px;
  transition: left 1s ease-in-out;
  z-index: 1;
}
.sidebar:hover {
  left: 0px;
}
.sidebar-bg {
  border-right: 5px solid white;
  background-color: rgba(25, 0, 0, 0.8);
  animation: red-blink 2s 1s forwards infinite ease-in-out;
  width: 300px;
  transition: background-color 1s ease-in-out;
}

/* fancy sidebar header */
.sidebar-header {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 50px;
  margin: 10px;
}

/* fancy sidebar paragraphs */
.sidebar-text {
  background-image: linear-gradient(to right, rgba(255, 110, 110, 0.2), transparent, transparent, transparent, transparent);
  font-family: Helvetica, sans-serif;
  display: block;
  color: white;
  text-decoration: transparent;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  border-left: 5px solid white;
  animation: red-blink 2s 1s forwards infinite ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.sidebar-text:hover {
  background-color: rgba(50, 0, 0, 0.8);
}
.sidebar-bookmark {
  background-color: white;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: 25px;
  height: 30px;
  width: 60px;
  text-align: center;
  animation: red-blink-bg 2s 1s forwards infinite ease-in-out;
}

@keyframes red-blink-bg {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(255, 179, 179);
  }
  100% {
    background-color: white;
  }
}